<dl>
  <dt <% if seller.changed_fields_unreviewed.include? :addresses %>class="changed"<% end %>>
    <%= t('admin.seller_versions.fields.addresses.name') %>
  </dt>
  <dd <% if seller.changed_fields_unreviewed.include? :addresses %>class="changed"<% end %>>
    <ul>
      <% seller.addresses.each do |address| %>
        <li>
          <%= address.address %><br>
          <%= address.suburb %><br>
          <%= address.state %>, <%= address.postcode %><br>
          <%= address.country %>
        </li>
      <% end %>
    </ul>
  </dd>
</dl>
