<% content_for(:admin_content) do %>
  <section class="view-admin-seller-applications-show">
    <div class="column-set">
      <aside>
        <h1>
          <span class="type">Seller application</span>
          <%= application.name %>
          <span class="version">v<%= application.version %> <%= '(archived)' if application.archived? %></span>
          <div class="version-links">
            <% if application.previous_version.nil? %>
              <%= link_to 'Prev', nil, style: 'visibility: hidden' %>
            <% else %>
              <%= link_to 'Prev', url_for(:id => application.previous_version) %>
            <% end %>
            <% if application.next_version.nil? %>
              <%= link_to 'Next', nil, style: 'visibility: hidden' %>
            <% else %>
              <%= link_to 'Next', url_for(:id => application.next_version) %>
            <% end %>
          </div>
        </h1>
        <nav class="vertical">
          <ul>
            <%= nav_link_to 'Application', admin_seller_application_path(application), icon: 'ellipses' %>
            <%= nav_link_to 'Seller details', seller_details_admin_seller_application_path(application), icon: 'spreadsheet' %>
            <%= nav_link_to 'Documents', documents_admin_seller_application_path(application), icon: 'file' %>
          </ul>

          <h3>
            Cloud products and support:
            <%= pluralize application.seller.products.count, 'product' %>
          </h3>
          <ul>
            <% application.seller.products.each do |product| %>
              <%= nav_link_to formatted_product_name(product), admin_seller_application_product_path(application, product), icon: 'cart' %>
            <% end %>
          </ul>
        </nav>
      </aside>

      <div class="current-view">
        <%= content_for?(:seller_application_content) ? yield(:seller_application_content) : yield %>
      </div>
    </div>
  </section>
<% end %>

<%= render template: 'layouts/admin' %>
