<% content_for(:skip_header, true) %>
<% content_for(:skip_footer, true) %>
<% content_for(:without_container, true) %>
<% content_for(:body_classes, 'admin') %>
<% content_for(:skip_problem_report, true) %>

<% content_for(:content) do %>
  <div class="column-set">
    <div class="left-col">
      <header class="admin">
        <h1>
          <span class="logo">NSW Government</span>
          <span class="title">Procurement<br> Ops</span>
        </h1>
      </header>

      <nav class="vertical">
        <ul>
          <%= nav_link_to 'Dashboard', admin_root_path, icon: 'grid-three-up' %>
        </ul>

        <h3>Applications</h3>
        <ul>
          <%= nav_link_to 'Buyer applications', admin_buyer_applications_path, icon: 'inbox', match_prefix: true %>
          <%= nav_link_to 'Seller applications', admin_seller_applications_path, icon: 'inbox', match_prefix: true %>
        </ul>

        <h3>Migration</h3>
        <ul>
          <%= nav_link_to 'Seller waitlist', admin_waiting_sellers_path, icon: 'bolt', match_prefix: true %>
        </ul>

        <h3>Entities</h3>
        <ul>
          <%= nav_link_to 'Buyers', admin_buyers_path, icon: 'people', match_prefix: true %>
          <%= nav_link_to 'Sellers', admin_sellers_path, icon: 'briefcase', match_prefix: true %>
          <%= nav_link_to 'Product Orders', admin_product_orders_path, icon: 'dollar' %>
        </ul>

        <h3>Performance</h3>
        <ul>
          <%= nav_link_to 'Problem reports', admin_problem_reports_path, icon: 'bug', match_prefix: true %>
        </ul>
      </nav>

      <footer>
        <h3><%= current_user.email %></h3>
        <ul>
          <li><%= link_to 'Your account', account_path %></li>
          <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
        </ul>
      </footer>
    </div>

    <div class="right-col">
      <%= content_for?(:admin_content) ? yield(:admin_content) : yield %>
    </div>
  </div>
<% end %>

<%= render template: 'layouts/application' %>
